@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: hsl(208, 37%, 20%);
    background-color: hsl(0, 0%, 100%);
  }
  a:hover {
    color: hsl(237, 100%, 73%);
  }
  .wrapper{
    background-color: hsl(0, 0%, 90%);
  }

  .response-container{
    background-color: hsl(0, 0%, 95%);
  }
}

@media (prefers-color-scheme: dark) {
  * {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    box-shadow: hsl(0, 0%, 100%);
  }

  h1{
    background-color: hsl(0, 0%, 10%);
  }

  form{
    background-color: hsl(0, 0%, 10%);
  }

  .wrapper{
    background-color: hsl(0, 0%, 10%);
  }
}
